:root {
    --cor-principal: #FF69B4;     /* Rosa médio (principal) */
    --cor-secundaria: #000000;    /* Preto (títulos) */
    --cor-destaque: #FFC0CB;      /* Rosa claro e vibrante (destaque) */
}

body {
    font-family: 'Chakra Petch', sans-serif;
    color: var(--cor-principal);
}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}

.lead, .btn-link {
    color: var(--cor-destaque);
    font-weight: 700;
}

a, .btn-link:hover {
    color: var(--cor-principal);
}

a:hover {
    color: var(--cor-destaque);
}
